@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

#gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

#scoreboard {
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    max-width: 600px;
}
#scoreboard button {
    padding: 20px 40px;
    border-radius: 15px;
    background-color: #ff8080;
}
#scoreboard #timer {
    font-family: 'Orbitron', sans-serif;
    background-color: #ff8080;
    color: black;
    font-size: x-large;
    border-radius: 5px;
}

#question-mark {
    display: inline-block;
    border: black solid 1px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

#scoreDetail {
    display: none;
    position: absolute;
    background-color: white;
    font-weight: normal;
    z-index: 10;
    min-width: 150px;
    font-size: medium;
}

#question-mark:hover #scoreDetail{
    display: block;
}

.card-size {
    height: 80px;
    width: 80px;
}

/* Flip card style from https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}


@media (min-width: 576px) {
    .card-size {
        height: 110px;
        width: 110px;
    }
    .flip-card {
        height: 110px;
        width: 110px; 
    }
}

@media (min-width: 768px) {
    .card-size {
        height: 150px;
        width: 150px;
    }
    .flip-card {
        height: 150px;
        width: 150px; 
    }
}

/* This container is needed to position the front and back side */
.flip-card .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
}

/* Style the front side */
.flip-card .flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card  .flip-card-back {
    transform: rotateY(180deg);
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Style the front side */
.flip-card-inner .flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-inner  .flip-card-back {
    transform: rotateY(180deg);
}
  
/* Do an horizontal flip when class flipped is added */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}